.audio{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .buttons{
    display: flex;
    gap: 20px;
} */
.details-microphone{
    display: flex;
    justify-content: space-between;
}
.startBTN{
    z-index: 10;
    position: fixed;
    bottom: 1%;
    right:1%;
    width: 70px;
    height: 70px;
    border-radius: 100% !important;
    background-color: #2e7d32;
    border: 1px solid #2e7d32;
    color: #fff;
}
.startBTN:hover{
    box-shadow: 0px 15px 15px rgba(46, 125, 50, 0.4);
    transform: translateY(-5px);
    transition: 0.8s all;
}
